$light-color: #f8f9fa;
$primary-color: #000814; 
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-color: #11a2bc;
$text-white: white;
$background-black: black;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  line-height: 1;
  color: $text-white;
}

//Nav bar
nav {
  width: 100%;
  color: $text-white;
  background-color: $background-black;
}

  h1 {
    color: $text-white;
    margin: 0;
    padding: 5px 5px 5px 10px;
  }

  ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
    justify-content: flex-end;

    li {
      a {
        text-decoration: none;
        color: $text-white;
        display: block;
        padding: 1em;   

        &:hover {
          text-decoration: underline;
          color: $secondary-color;
        } 
      }
    }
  }



.hero {
    // This is where the bulk of the SCSS styling needs to be done

  // Take a look at the other files we've built already. How can they be useful here?

  // Also, take time to review the features of SCSS we've already covered:
  // 1. $variables
  // 2. nesting (dont forget about the ampersand (&) parent selector!)
  // 3. At-Rules
    &-content {
      h1 {
        display: block;
        align-items: center;
        margin: 1px;
        padding: 30px 15px 5px 10px;
        font-size: 50px;
        color: $text-white;
        text-align: left;
      }

      p {
        font-size: 20px;
        color: $text-white;   
        text-align: start;
    }

  }

  
}

img {
  float:right;
  border-radius: 50%;
  margin-top: -30px;
}

.footer {
  position: fixed;
  background-color: $background-black;
  left: 0;
  right: 0;
  bottom: 0;
  color: $text-white;
  padding: 10px 20px;
  text-align: center;
  z-index: 1000;
}

.btn-primary {
  background-color: $background-black;
  color: $text-white;
}

.btn-secondary {
  background-color: $secondary-color;
  color: $text-white;
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
